*{
    margin: 0;
}

body{
    height: 100%;
    background-color: blanchedalmond;
}

.container{
    display: flex;
    border: 1px solid blue;
    height: 500px;
    width: 40%;
}

.container div{
    height: 50px;
}

/*Explicacion de flex*/
/*flex: 1 1 100px  >> flex--grow --flex-shrink --flex-basis*/
/*flex-grow: 1px >>Cuanto crece el elemento rspecto al espacio disponible*/
/*flex-shrink >> Cuando se reduce el elemento respecto al espacio disponible */
/*flex-basis>> Tamano inicial - Antes que crezca o se aplique grow y shrink*/

.item1{
    flex: 1 1 100px;
    background-color: red;
}

.item2{
    flex: 1 1 200px;    
    background-color: rgb(0, 255, 110);
}

.item3{
    flex: 1 1 100px;
    background-color: blue;
}

.item4{
    flex: 1 1 200px;
    background-color: aqua;
}